@tailwind base;
@tailwind components;
@tailwind utilities;

#meCard{
     background-image: url("../src/assets/images/IMG_3487.jpg");
}

#skillCard{
     background-image: url("../src/assets/images/js-symbol.png");
     background-size: 180px;
    
}

@media (max-width: 420px){
 #projects{
     margin-right:0;
     margin-left:0;
     margin-top: 10rem;
     padding-left: 2rem
 }

 #contact{
     margin-top: 8rem;
 }

}